<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% if robots %}
    <meta name="robots" content="{{ robots }}" />
  {% endif %}
  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  {% if og_image %}
    <meta property="og:image" content="{{ og_image }}" />
  {% else %}
    <meta property="og:image" content="{{ logo }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ name }}" />


  <link rel="stylesheet" href="catalog/view/theme/ekim/css/swiper.css">
  <link rel="stylesheet" href="catalog/view/theme/ekim/css/tailwind.css">


  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
    <script src="catalog/view/theme/ekim/js/common.js" type="text/javascript"></script>
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>

  <!-- Popups -->
  <div class="popups fixed w-full h-full top-0 left-0 z-10 hidden">
    <div class="popup-log h-full flex justify-center items-center">
      <div class="popup-log__content p-10 rounded-lg text-center bg-blue-450 relative flex flex-col">
        <a href="#" class="popup-log__close absolute top-2 right-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </a>
        <h2 class="popup-log__title text-4xl text-white font-medium">Войти</h2>
        <input type="text" placeholder="Ваш email" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <input type="text" placeholder="Пароль" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <label class="flex items-center mt-5">
          <input type="checkbox" class="appearance-none h-8 w-8 border-2 border-white bg-white rounded-lg ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 absolute hidden text-blue-450" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
          </svg>
          <span class="label__text text-xl text-white select-none ml-5">Запомнить меня</span>
        </label>
        <button class="header-main__btn text-blue-450 bg-white text-xl py-2 mt-5 border-2 border-white cursor-pointer rounded-lg hover:bg-blue-450 hover:text-white focus:outline-none duration-100">Войти</button>
        <div class="popup-log__footer flex justify-between mt-5 text-white">
          <a href="#" class="popup-log__password underline">Забыли пароль?</a>
          <a href="#" class="popup-log__registred underline">Регистрация</a>
        </div>
        <!-- /.pop-up__footer -->
      </div>
      <!-- /.popup-log__content -->
    </div>
    <!-- /.popup-log -->
    <div class="popup-reg flex justify-center items-center h-full">
      <div class="popup-reg__content p-10 rounded-lg text-center bg-blue-450 relative flex flex-col">
        <a href="#" class="popup-reg__close absolute top-2 right-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </a>
        <h2 class="popup-reg__title text-4xl text-white font-medium">Регистрация</h2>
        <input type="text" placeholder="Ваш email" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <button class="popup-reg__btn text-blue-450 bg-white text-xl py-2 mt-5 border-2 border-white cursor-pointer rounded-lg hover:bg-blue-450 hover:text-white focus:outline-none duration-100">Регистрация</button> 
        <div class="popup-reg__footer flex justify-between mt-5 text-white">
          <a href="#" class="popup-reg__password underline">Забыли пароль?</a>
          <a href="#" class="popup-reg__login underline">Войти</a>
        </div>
      </div>
      <!-- /.popup-log__content -->
    </div>
    <!-- /.popup-reg -->
    <div class="popup-password flex justify-center items-center h-full">
      <div class="popup-password__content p-10 rounded-lg text-center bg-blue-450 flex flex-col relative">
        <a href="#" class="popup-password__close absolute top-2 right-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </a>
        <h2 class="popup-password__title text-4xl text-white font-medium">Сбросить пароль</h2>
        <p class="popup-password__text text-white text-left mt-5">Забыли свой пароль? Пожалуйста введите вашу электронную почту.<br> Вы получите на почте ссылку для создания нового пароля</p>
        <input type="text" placeholder="Ваш email" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <button class="popup-reg__btn text-blue-450 bg-white text-xl py-2 mt-5 border-2 border-white cursor-pointer rounded-lg hover:bg-blue-450 hover:text-white focus:outline-none duration-100">Получить новый пароль</button>
        <div class="popup-reg__footer flex justify-between mt-5 text-white">
          <a href="#" class="popup-pas__registed underline">Регистрация</a>
          <a href="#" class="popup-pas__login underline">Войти</a>
        </div>
      </div>
      <!-- /.popup-password__content -->
    </div>
    <!-- /.popup-password -->
  </div>
  <!-- /.popups -->
  
  <!-- Request -->
  <div class="request fixed w-full h-full top-0 left-0 z-10 hidden">
    <div class="request__wrap h-full flex justify-center items-center">
      <div class="request__content p-10 rounded-lg text-center bg-blue-450 relative flex flex-col">
        <a href="#" class="request__close absolute top-2 right-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </a>
        <h2 class="request__title text-3xl text-white font-medium mt-5">Отправить заявку</h2>
        <input type="text" placeholder="Ваше имя" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <input type="text" placeholder="Ваш email" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <input type="text" placeholder="Номер телефона" class="mt-5 px-3 py-2 placeholder-gray-400 text-xl rounded-lg focus:border-4 outline-none">
        <button class="request__btn text-blue-450 bg-white text-xl py-2 mt-5 border-2 border-white cursor-pointer rounded-lg hover:bg-blue-450 hover:text-white focus:outline-none duration-100">Отправить</button>
        <p class="request__text mt-5 text-white">Нажимая на кнопку, Вы соглашаетесь с <br>
          <a href="#" class="underline">политикой конфиденциальности</a></p>
      </div>
      <!-- /.request__content -->
    </div>
    <!-- /.request__wrap -->
  </div>
  <!-- /.request -->
<!-- Section Header -->
  <section class="header w-full">
    <div class="header-top bg-blue-450 py-3 text-xl">
      <div class="container mx-auto px-2 md:px-10 xl:px-28 justify-between sm:flex">
        <div class="header__search w-full lg:w-2/3 xl:w-3/5 text-gray-400 relative focus-within:text-gray-600 lg:flex lg:items-center">
          <input class=" header__input h-10 w-full pl-10 rounded-lg focus:outline-none" placeholder="Поиск по товарам" type="text">
          <div class="header-search__svg absolute top-0 left-0 h-full w-10 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
        </div>
        <!-- /.header__search -->
        <div class="header__contacts w-full sm:w-1/4 lg:w-1/3 xl:w-2/5 lg:ml-2 2xl:w-2/3 2xl:ml-2 flex sm:justify-end lg:justify-between items-center text-white">
          <div class="header__schedule hidden lg:flex items-center">
            <div class="header-schedule__svg">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <span class="header__time ml-1 whitespace-nowrap">с 9:00 до 18:00</span>
          </div>
          <!-- /.header__schedule -->
          <a href="tel:+79196774095" class="header__phone hidden sm:flex items-center sm:mr-5">
            <div class="header-phone__svg">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>
            </div>
            <span class="header__number ml-1 hidden xl:block">89196774095</span>
          </a>       
          <!-- /.header__phone -->
          <div class="header__register flex items-center">
            <a href="#" class="header-register__svg hidden sm:flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>
            <a href="#" class="header__login ml-1 hidden 2xl:block">Войти/Регистрация</a>
          </div>
          <!-- /.header__login -->
        </div>
        <!-- /.header__contacts -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <div class="header__menu py-3 text-xl relative shadow">
      <div class="container mx-auto px-2 md:px-10 xl:px-28 flex items-center justify-between ">
        <div class="header__burger w-10 h-9 text-blue-450 lg:hidden relative">
          <span class="burger__line block w-full h-1.5 bg-blue-450 duration-200 absolute burger__line-first"></span>
          <span class="burger__line block w-full h-1.5 bg-blue-450 duration-200 absolute burger__line-second"></span>
          <span class="burger__line block w-full h-1.5 bg-blue-450 duration-200 absolute burger__line-third"></span>
          <span class="burger__line block w-full h-1.5 bg-blue-450 duration-200 absolute burger__line-fourth"></span>
        </div>
        <!-- /.header__burger -->
        <div class="header__burger-menu w-full py-8 z-50 flex flex-col text-center text-white text-2xl bg-blue-450 absolute top-16 left-0">
          <a href="index.html" class="header__nav-item duration-100 my-2">Главная</a>
          <a href="description.html" class="header__nav-item duration-100 my-2">О магазине</a>
          <a href="catalog.html" class="header__nav-item duration-100 my-2">Каталог</a>
          <a href="delivery.html" class="header__nav-item duration-100 my-2">Доставка и оплата</a>
          <a href="contacts.html" class="header__nav-item duration-100 my-2">Контакты</a>
        </div>
        <!-- /.header__burger-menu -->
        <a href="tel:+89196774095" class="header__phone text-blue-450 sm:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
          </svg>
        </a>
        <!-- /.header__phone -->
        <a href="index.html" class="header__logo text-5xl hidden lg:block">LOGO</a>
        <!-- /.header__logo -->
        <div class="header__navbar w-1/2 justify-between hidden lg:flex text-base xl:text-lg 2xl:text-xl">
          <a href="index.html" class="header__nav-item hover:text-blue-450 duration-100">Главная</a>
          <a href="description.html" class="header__nav-item hover:text-blue-450 duration-100">О магазине</a>
          <a href="catalog.html" class="header__nav-item hover:text-blue-450 duration-100">Каталог</a>
          <a href="delivery.html" class="header__nav-item hover:text-blue-450 duration-100">Доставка и оплата</a>
          <a href="contacts.html" class="header__nav-item hover:text-blue-450 duration-100">Контакты</a>
        </div>
        <!-- /.header__nav -->
        <div class="header__navigations flex items-center text-blue-450">
          <button class="header__btn p-2 cursor-pointer ring-2 rounded-lg ring-blue-450 hover:bg-blue-450 hover:text-white focus:outline-none duration-100 hidden sm:block">Отправить заявку</button>
          <a href="cart.html" class="header__basket ml-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          </a>
          <!-- /.header__basket -->
        </div>
        <!-- /.header__navigations -->
        <div class="header-register__svg header__register2 text-blue-450 sm:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <!-- /.header-register__svg -->
      </div>
      <!-- /.container -->
    </div>
  </section>
  <!-- /.header -->
